<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApplication1.Properties.Settings.NewConnection"
         connectionString="Data Source=MSI;Initial Catalog=TaskAssistant;Persist Security Info=True;User ID=test;Password=test"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>